<?xml version='1.0' encoding='utf-8'?>
<widget id="com.leilei.studytracker"
        version="2.1.3"
        android-versionCode="213"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>学习监督</name>
    <description>儿童学习进度监督系统</description>

    <author email="823921@qq.com">
        leilei
    </author>

    <content src="index.html" />

    <access origin="*" />

    <icon src="resources/android/icon/icon.png" />

    <preference name="Fullscreen" value="false"/>
    <preference name="ScrollEnabled" value="true"/>

    <!-- Android SDK设置 -->
    <preference name="android-minSdkVersion" value="22"/>
    <preference name="android-targetSdkVersion" value="34"/>
    <preference name="android-compileSdkVersion" value="34"/>
    <preference name="android-buildToolsVersion" value="34.0.0"/>

</widget>